{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="\Bibliotheque\public\css\listingBook.css">
{% endblock %}

{% block title %}Log in!{% endblock %}

{% block body %}
<main class="container">

    <h1 class="h3 py-5 font-weight-normal text-center text-decoration-underline">Veuillez vous authentifier: <i class="fas fa-scroll"></i><i class="fas fa-feather-alt fa-sm"></i></h1>
    
<form method="post" class="w-25 mx-auto form text-center">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="my-3">
            Vous êtes connectés en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <label for="inputUsername">Identifiant:</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
    <label for="inputPassword">Mot de passe:</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn mt-3" type="submit">
        Se connecter
    </button>
</form>
</main>
{% endblock %}
