{% extends 'base.html.twig' %}

{% block title %}Description{% endblock %}
 {% block javascripts %}
 <script type="text/javascript" src="../../js/form.js">
 
 </script>
 {% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<main class="example-wrapper">
    <h1 class='text-center text-decoration-underline my-5'>Description</h1>

    <div class="card">
        <h5 class="card-header">{{ book.getTitle() }}, {{ book.getWriterid().getFirstname() }} {{ book.getWriterid().getLastname() }}</h5>
        <div class="card-body">
          <h5 class="card-title">{{ book.getPublicationDate() }}, {{ book.getCategoryid().getName() }}, {{ book.getLanguageid().getName() }}</h5>
          <p class="card-text">{{ book.getPlot() }}</p>
          <p class="card-text text-center">{{ book.getStock() }}</p>
        </div>
    </div>

    {% if book.getStock() != 0 %}
        <button class="btn btn-danger" onclick="displayForm()">Emprunter</button>
        <div id="borrowingForm" class="d-none">
            {{form(form)}}
        </div>
    {% else %}
  
    {% for loan in book.getBorrowings() %}
    <table class='table table-striped text-center'>
        <tr>
            <th colspan="2">Informations sur l'emprunteur:</th>
        </tr>
        <tr>
            <td>Nom:</td>
            <td>{{loan.getUser().getFirstname()}} {{loan.getUser().getLastname()}}</td>
        </tr>
        <tr>
            <td>Date d'emprunt:</td>
            <td>{{loan.getBorrowingDate().format('Y-m-d')}}</td>
        </tr>
        <tr>
            <td>Date de retour:</td>
            <td>{{loan.generateReturningDate().format('Y-m-d')}}</td>
        </tr>
        <tr>
            <td>Nombre de jours restants:</td>
            <td>{{loan.getRemainingDays()}}</td>
        </tr>
      
    </table>
    {% endfor %}
    <a class='btn btn-dark' href='{{path('book_return', {id: book.getId()})}}'>Livre rendu</a>
    {% endif %}

</main>
{% endblock %}