{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel='stylesheet' type="text/css" href='https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css'>
    <link rel="stylesheet" type="text/css" href="\Bibliotheque\public\css\listingBook.css">
{% endblock %}

{% block javascripts %}
            <script type='text/javascript' src="https://code.jquery.com/jquery-3.5.1.js"></script>
            <script type='text/javascript' src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
            <script type='text/javascript'>
                $(document).ready(function() {
                $('#example').DataTable({language: {
                    processing:     "Traitement en cours...",
                    search:         "Rechercher&nbsp;:",
                    lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
                    info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix:    "",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable:     "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first:      "Premier",
                        previous:   "Pr&eacute;c&eacute;dent",
                        next:       "Suivant",
                        last:       "Dernier"
                    },
                    aria: {
                        sortAscending:  ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                    }});
                } );
            </script>
{% endblock %}

{% block title %}Catalogue{% endblock %}

{% block body %}


<main class='container-fluid mb-5'>
    <h1 class='text-center text-decoration-underline my-5 font'>Catalogue <i class="fas fa-book-open"></i></h1>

    <div class='row'>
        <div class='col-12 col-lg-3 px-5 pb-5'>
            <a class="btn my-5" href="{{ path('book_add') }}"><i class="fas fa-book pe-2"></i>Ajouter un livre</a>
            <div class="form text-center">
              {{form(formFilter)}}  
            </div>
        </div>
        <div class='col-12 col-lg-9'>
            <table id='example' class='display'>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td id='book' style="max-width: 450px">
                            <h5 class='fw-bold ps-3 pt-1 pb-2'>{{ book.getTitle() }}, {{ book.getWriterid().getFirstname() }} {{ book.getWriterid().getLastname() }}</h5>
                            <div class="row g-0" style="height:150px">
                                <div class="ps-3 col-md-3">
                                    <img src="../../image/{{book.getCover()}}" class="rounded-start cover" alt="book">
                                </div>
                                <div class="col-md-9 my-3">
                                    <p class="card-text">{{book.truncatePlot()}}</p>
                                </div>
                            </div>
                            <div class="text-end fw-bold pt-1">Nombre d'exemplaire(s) disponible(s) {{ book.getStock() }}/{{ book.getQuantity() }}</div>
                        </td>
                        <td>
                            <div class='d-flex flex-column justify-content-between align-items-center'>
                                <a class="btn mb-4" href="{{ path('book_infos', {'id': book.getId()} )}}">Plus d'infos</a>
                                {% if book.getStock() != 0 %}
                                <a class="btn btn2 mt-4" href="{{ path('book_delete', {'id': book.getId()} )}}"><i class="fas fa-trash-alt text-white pe-2"></i>Supprimer</a>
                                {% endif %}
                            </div> 
                        </td>   
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}
