{% extends 'base.html.twig' %}

{% block title %}Description
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="../../js/form.js"></script>
{% endblock %}

{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href="{{asset('\css/user.css')}}">
		<link rel="stylesheet" type="text/css" href="{{asset('\css/userInfo.css')}}">
{% endblock %}

{% block body %}

	<main class="container-fluid">

		<h1 class='text-center text-decoration-underline my-5' id='titreDescription'>Informations:</h1>

		<div class='row justify-content-center'>
			<div class="col-10 col-lg-5 my-5">
				<table class='mx-auto'>
					<thead>
						<tr class="bg-title">
							<th colspan="4" class="text-center pt-2 py-2"><h3 class="fw-bold">{{user.getFirstname()}} {{user.getLastname()}}</h3></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class='pt-3 ps-2'><i class="fas fa-address-card"></i> <span class='subtitleUser'>Numéro de carte:</span></td><td class='pt-3'>{{user.getCardNumber()}}</td>
							<td class='pt-3'><i class="fas fa-calendar-alt"></i> <span class='subtitleUser'>Date d'inscription:</span></td><td class='pt-3 pe-3'>{{user.getRegistrationDate().format('Y-m-d')}}</td>
						</tr>
						<tr>
							<td class='ps-2'><i class="fas fa-house-user"></i> <span class='subtitleUser'>Adresse:</span></td><td class='pt-4'>{{user.getStreet()}}<br>{{user.getPostalCode()}} {{user.getCity()}}</td>
							<td><i class="fas fa-phone-alt"></i> <span class='subtitleUser'>Tél:</span></td><td class="pe-3">{{user.getPhoneNumber()}}</td>
						</tr>
						<tr >
							<td></td><td></td>
							<td class="pb-3"><i class="fas fa-at"></i> <span class='subtitleUser'>Email:</span></td>
							<td class="pb-3 pe-3">
							{% if user.getEmail() %}
							{{user.getEmail()}}
							{% else %}
							Non renseigné
							{% endif %}
						</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class='row justify-content-center mb-5'>
			<div class="col-10 col-md-7 col-lg-5 text-center my-5">

				<h3>Liste des livres empruntés:</h3>

				<div id='table'>
				<table class='table table-bordered table-striped mx-auto' id='tableUser'>
					<thead>
						<tr class="bg-title">
							<th>Titre</th>
							<th>Auteur</th>
							<th>Date d'emprunt</th>
						</tr>
					</thead>
					<tbody>
						{% if books is empty %}
							<tr>
								<td colspan="3">Actuellement aucun emprunt.</td>
							</tr>
						{% else %}
							{% for book in books %}
								<tr>
									<td>{{book.getBook().getTitle()}}</td>
									<td>{{book.getBook().getWriterid().getFirstname}} {{book.getBook().getWriterid().getLastname}}</td>	
									<td>{{book.getBorrowingDate().format('Y-m-d')}}</td>
								</tr>	
							{% endfor %}
						{% endif %}
					</tbody>
				</table>
				</div>
			</div>
		</div>	
	</main>
{% endblock %}
