{% extends 'base.html.twig' %}

{% block title %}Description
{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="../../js/form.js"></script>
{% endblock %}
{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<main class="container">

		<h1 class='text-center my-5' id='titreDescription'>Description</h1>
		<div class='row'>
			<div class='col-4'>
				<h5 class='subtitleUser'>Prénom :</h5>
				<p>{{user.getFirstname()}}</p>
			</div>
			<div class='col-4'>
				<h5 class='subtitleUser'>Nom :</h5>
				<p>{{user.getLastname()}}</p>
			</div>
			<div class='col-4'>
				<h5 class='subtitleUser'>Numéro de carte :</h5>
				<p>{{user.getCardNumber()}}</p>
			</div>
		</div>
		<table
			class='table table-striped text-center' id='tableUser'>
			{# <thead>
								<tr>
									<th>Prénom</th>
									<th>Nom</th>
									<th>Numéro de carte</th>
								</tr>
							</thead> #}
			<tbody>
				{# <tr>
										<td>{{user.getFirstname()}}</td>
										<td>{{user.getLastname()}}</td>
										<td>{{user.getCardNumber()}}</td>
									</tr> #}
			</tbody>
			<tr>
				<th colspan="3">Liste des livres empruntés:</th>
			</tr>
			{% if user.getBorrowings() %}
				{% for book in user.getBorrowings() %}
					<tr>
						<td colspan="3">{{book.getBook().getTitle()}}
							de
							{{book.getBook().getWriterid().getFirstname}}
							{{book.getBook().getWriterid().getLastname}}</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td colspan="3">Actuellement aucun emprunt.</td>
				</tr>
			{% endif %}
		</table>
	</main>
{% endblock %}
