{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}
	{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href="{{asset('\css/user.css')}}">
	{% endblock %}



{% block body %}

	<div class="container">
		<h1 class='text-center my-5' id='titreUtilisateur'>Liste des utilisateurs</h1>
		<div class="row d-flex justify-content-center">
			<div class="col-md-6">
				<a class="btn btn-dark" href="{{ path('user_add') }}"><i class="fas fa-user text-white"></i> Ajouter un utilisateur</a>
				<table class="table" id='tableUser'>
					<thead >
						<tr>
							<th class="text-center titleTable">Prénom</th>
							<th class="text-center titleTable">Nom</th>
							<th class="text-center titleTable">Numéro de carte</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
							<tr>
								{% if user.getRoles is same as(["ROLE_USER"]) %}
									<td class="text-center">{{ user.getFirstname() }}</td>
									<td class="text-center">{{ user.getLastname() }}</td>
									<td class="text-center">{{ user.getCardNumber() }}</td>
									<td class="text-center">
										<a href="{{ path('user_infos', {'id': user.getId()} )}}" class='btn' id='btnUser'>Plus d'infos</a>
									</td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>	
	</div>
{% endblock %}
